<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for('static',filename='styles.css')}}>
    <title>Contents</title>
</head>
<body>
    <div class="bd.example" align="middle">
    <h1>Your backpack.<img src="{{ url_for('static', filename='photo.png')}}" class="headimage"/></h1>
    <table>
        <tr>
            <th>name</th>
            <th>cost</th>
            <th>description</th>
            <th>delete?</th>
        </tr>
        {% for item in results %}
        <tr>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
            <td>
                <form action="/delete" method="post">
                <input type="hidden" name="item_name" value="{{item[0]}}">
                <input type="submit" value="delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <form action="/add" method="post">
    <h2>Enter a new item: </h2>
    <input type="text" name="item_name">
    <input type="number" name="cost_name" value="0">
    <input type="text" name="item_description">
    <input type="submit" value="add">
    </form>
</body>
</html>